<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707172799997-s2ou01cc5vcmndi7dtpaqmbka8nqeb3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707172799997-s2ou01cc5vcmndi7dtpaqmbka8nqeb3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDcsSh18lUa4DTp2KLahZ4AnWxSpb6boks</string>
	<key>GCM_SENDER_ID</key>
	<string>707172799997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lastgiget</string>
	<key>PROJECT_ID</key>
	<string>gigetlastversion</string>
	<key>STORAGE_BUCKET</key>
	<string>gigetlastversion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707172799997:ios:8f541ebc05498ea70f3594</string>
</dict>
</plist>